.Trending {
    padding: 20px 50px;
}

.content {
    display: grid;
    margin: 0 auto;
    gap: 1rem;
    /* grid-template-columns: auto auto auto; */
    /* background-color: #2196F3; */
    padding: 10px;
}

.items {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    display: flex;
    /* width: 300px; */
}


.itemleft {
    display: flex;
    justify-content: start;
    font-weight: bold;
    /* background-color: blue; */
}

.itemright {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
}

.Userinfo img {
    height: 30px;
    width: 30px;
    border-radius: 60%;
    margin-right: 5px;
}

.Userinfo {
    margin-left: 10px;
    display: flex;
    align-items: center;
    align-content: center;
}

.time {
    color: grey;
    margin-left: 15px;
    font-size: 18px;
}

span{
    font-weight: lighter;
    font-size: 20px;
}

.Trending h4{
    margin:0px 6px;
    font-weight: lighter;
    font-size:28px;
    cursor: pointer;
  }

@media (min-width: 600px) {
    .content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .content {
        grid-template-columns: repeat(3, 1fr);
    }
}